################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Can We Fly/obj
/.vs/VSWorkspaceState.json
/.vs/CanWeFly/v16
/.vs/slnx.sqlite
/Can We Fly/bin
